
        <!-- cards -->
       
      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4">
        <div class="col mb-4">
          <div class="card ">
            <img src="https://assets.adidas.com/images/w_383,h_383,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/8dc686a072d2469e91e8ab4a009b3c9e_9366/fluidstreet-shoes.jpg" class="card-img-top border1" alt="...">
            <div class="card-body">
              <h6 class="card-title" >$299.00</h6>
                <span class="text-danger">$150.00</span>
              <p class="card-text">Grand Court Base Shoes</p>
               <span class="text-img " >Men Sport Inspired <br> 6 colours</span> 
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="https://assets.adidas.com/images/w_383,h_383,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/f100ac0d8a544bbe841aabab00579f75_9366/ultimashow-shoes.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title" >$299.00</h6>
                <span class="text-danger">$150.00</span>
              <p class="card-text">sports Base Shoes</p>
               <span class="text-img " >Men Sport Inspired <br> 6 colours</span> 
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card">
            <img src="https://assets.adidas.com/images/w_383,h_383,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/a0d0d3a61f6a4d16a77eac6a011f9976_9366/predator-freak-.3-fg.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title" >$299.00</h6>
                <span class="text-danger">$140.00</span>
              <p class="card-text">sports Base Shoes</p>
               <span class="text-img " >Men Sport Inspired <br> 6 colours</span> 
            </div>
          </div>
        </div>
        
        <div class="col mb-4">
          <div class="card">
            <img src="https://assets.adidas.com/images/w_383,h_383,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/f93ac4a8a6f8479d87b2ac410112a27b_9366/aeroready-designed-2-move-sport-pants.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title" >$299.00</h6>
                <span class="text-danger">$150.00</span>
              <p class="card-text">Grand Court Base Shoes</p>
               <span class="text-img " >Men Sport Inspired <br> 6 colours</span> 
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card">
            <img src="https://assets.adidas.com/images/w_383,h_383,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/7f4add9da4934cf6a648aa4300cd06c1_9366/grand-court-base-shoes.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title" >$300.00</h6>
                <span class="text-danger">$190.00</span>
              <p class="card-text"> Base Shoes</p>
               <span class="text-img " >Men Sport Inspired <br> 6 colours</span> 
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card">
            <img src="https://assets.adidas.com/images/w_383,h_383,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/b9c1529764a143a29c31adb901467c12_9366/gadgetso-shoes.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title" >$299.00</h6>
                <span class="text-danger">$150.00</span>
              <p class="card-text">Grand Court Base Shoes</p>
               <span class="text-img " >Men Sport Inspired <br> 6 colours</span> 
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card">
            <img src="https://assets.adidas.com/images/w_383,h_383,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/80b5ad17fabf4bce8efdadb800b7d792_9366/astound-m.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title" >$299.00</h6>
                <span class="text-danger">$150.00</span>
              <p class="card-text">Grand Court Base Shoes</p>
               <span class="text-img " >Men Sport Inspired <br> 6 colours</span> 
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card">
            <img src="https://assets.adidas.com/images/w_383,h_383,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/779df3c86e884fb48d9aad1e01796c62_9366/easy-vulc-2.0-shoes.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title" >$299.00</h6>
                <span class="text-danger">$150.00</span>
              <p class="card-text">Grand Court Base Shoes</p>
               <span class="text-img " >Men Sport Inspired <br> 6 colours</span> 
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card">
            <img src="https://assets.adidas.com/images/w_383,h_383,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/d633de76ce8b45458431adb300c600b5_9366/adi-pace-m.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title" >$299.00</h6>
                <span class="text-danger">$150.00</span>
              <p class="card-text">Grand Court Base Shoes</p>
               <span class="text-img " >Men Sport Inspired <br> 6 colours</span> 
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card">
            <img src="https://assets.adidas.com/images/w_383,h_383,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/ececef65c89743f8a5abadb901363399_9366/running-adi-trend-shoes.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title" >$299.00</h6>
                <span class="text-danger">$150.00</span>
              <p class="card-text">Grand Court Base Shoes</p>
               <span class="text-img " >Men Sport Inspired <br> 6 colours</span> 
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="https://assets.adidas.com/images/w_383,h_383,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/b9c1529764a143a29c31adb901467c12_9366/gadgetso-shoes.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title" >$299.00</h6>
                <span class="text-danger">$150.00</span>
              <p class="card-text">Grand Court Base Shoes</p>
               <span class="text-img " >Men Sport Inspired <br> 6 colours</span> 
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card">
            <img src="https://assets.adidas.com/images/w_383,h_383,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/80b5ad17fabf4bce8efdadb800b7d792_9366/astound-m.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title" >$299.00</h6>
                <span class="text-danger">$150.00</span>
              <p class="card-text">Grand Court Base Shoes</p>
               <span class="text-img " >Men Sport Inspired <br> 6 colours</span> 
            </div>
          </div>
        </div>
        
        <div class="container">
           <a href="/logout"><button class="btn btn-danger">logout</button></a>
        </div>
        
   